@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#root {
  font-family: monospace;
  background-color: #000;
  width: 100%;
  height: 100%;
  overflow: auto;
}
